<h1><%= @user.name %>'s page</h1>
<p>your email:<%= @user.email %></p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
    <% @counter.each do |i| %>
      <% @sum_favorites += i.favorites.count %>
    <% end %>
    <p>お気に入り数:<%= @sum_favorites %></p>
  </thead>

  <tbody>
    <% @user_faborite.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.user.name %></td>
        <td><%= link_to 'Show', blog %></td>
      </tr>
    <% end %>
  </tbody>
</table>
